.conteiner {
    display: flex;
}

.dietas {
    background-color: rgba(0, 0, 0, 0.87);
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    border: solid #ff4800 3px;
    border-radius: 10px;
    width: 15rem;
}

.recetas {
    /* padding: 5px; */
    margin-top: 10px;
    border: solid #ff4800 3px;
    border-radius: 10px;
    width: 80rem;
    background-color: rgba(0, 0, 0, 0.87);
}

.dieta {
    /* background-image: url("../img/food.webp"); */
    background-color: #ff4800;
    padding: 2px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    align-content: center;
    color: rgb(235, 232, 232);
    border-radius: 10px;
    width: 10rem;
    height: 3rem;
}

.dieta:hover {
    background-color: black;
    color: #ff4800;
    cursor: pointer;
}

h2 {
    margin-block: auto;
}

.h2Dieta {
    font-size: 1.8rem;
    color: #ff4800;
}

.h2Receta {
    font-size: 1.8rem;
    color: #ff4800;
    /* background-color: rgba(255, 255, 255, 0.432); */
}