.DivCards {
    display: flow-root;
    justify-content: center;
}

h1 {
    color: #0000FF;
}
.buttons{
    display: flow-root;
}

button {
    background-color: rgb(255, 72, 0);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    margin-right: 8px;
}

button:hover {
    background-color: black;
    color: #ff4800;
    cursor: pointer;
}