.NavBar {
    background-color: rgb(37, 36, 36);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: full;
    height: 60px;
    border-radius: 10px;
}

.link {
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    color: white;
    background-color: #ff4800;
    border: 3px solid rgb(68, 65, 65);
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: -3px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.link:hover {
    background-color: black;
    color: #ff4800;
    border: 3px solid rgb(68, 65, 65);
    border-radius: 5px;
    border-bottom: none;
    border-left: none;
    border-right: none;
}